<nav class="navbar navbar-default navbar-fixed-top">
	<div class="container-fluid">
		<div class="navbar-header">
			<a class="navbar-brand" href="/">Clappsy</a>
		</div>
		<ul class="nav navbar-nav navbar-right">
			<% if user_signed_in? %>
				<li><a href="#">Deals</a></li>
				<li><a href="#">Stores</a></li>
				<li><a href="#">Contact</a></li>
				<li><a href="#"><span class="glyphicon glyphicon-user"></span>Your Account</a></li>
				<li><%= link_to 'Editar Perfil', edit_user_registration_path %></li>
				<li><%= link_to 'Cerrar Sesión', destroy_user_session_path, method: :delete %></li>
			<% else %>
				<li><a href="<%= new_user_session_path %>"><span class="glyphicon glyphicon-log-in"></span>Iniciar Sesión</a></li>
				<li><a href="<%= new_user_registration_path %>"><span class="glyphicon glyphicon-user"></span>Registrate</a></li>
			<% end %>
		</ul>
	</div>
</nav>
